<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AAFeatureAR5WalletNative</string>
	<string>AAFeatureAR5PromotionsNative</string>
	<string>AAFeatureNew500MileUpgradesUI</string>
	<string>AAFeatureDREligibilityService</string>
	<string>AAFeatureDeniedBoarding</string>
	<string>AAFeatureOABoardingPassEnhancement</string>
	<string>AAFeatureCloudLogin</string>
	<string>AAFeatureCloudLoginProtection</string>
	<string>AAFeatureAirshipIntegration</string>
	<string>AAFeatureFlifoHighSpeedWifiAndPower-iOS</string>
	<string>AAFeatureReservationPaxNameInHeaders</string>
	<string>AAFeatureFlightStatusSearchNextDayDeparture-iOS</string>
	<string>AAFeatureNextDayDeparture-iOS</string>
</array>
</plist>
